.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: linear-gradient(to right, #4695b77b, #68bbd78e, #6fcef73a);
  border-radius: 8px;
  width: max-content;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
}

.select {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 0.9rem;
  cursor: pointer;
}
